body{
    text-align: center;
}
#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#show_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort_button{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}